<form id="to-thank-you-page" method="post" action="[+action+]">
    [+wp_nonce_field+]
    <input class="cabi_block--input" placeholder="Il tuo nome" type="text" name="nome" id="nome">
    <input class="cabi_block--input" placeholder="La tua email" type="email" name="email" id="email">
    <small><span class="privacy_container"><input type="checkbox" name="privacy" id="privacy"></span><a href="" target="_blank">Ho preso atto dell'informativa</a> e acconsento, ai sensi dell’art. 13 del D.Lgs. n. 196/2003, al trattamento ed alla comunicazione dei miei dati personali ad opera dei soggetti indicati nella predetta informativa e nei limiti di cui alla stessa. Rimane fermo che tale consenso è condizionato al rispetto delle disposizioni della vigente informativa.</small>
    <input class="cabi_block--submit" type="submit" name="submit" value="Invia">
</form>